node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/Recibos_Entregas/
cookies.json
/Automation\Python-Flask-Web-Service\python-flask-web-service.tar
Automation\Python-Flask-Web-Service\python-flask-web-service.tar
/C:\INFORMATICA\4_CURSO\Practicas_I\Automation\Python-Flask-Web-Service\python-flask-web-service.tar
C:\INFORMATICA\4_CURSO\Practicas_I\Automation\Python-Flask-Web-Service\python-flask-web-service.tar
C:\INFORMATICA\4_CURSO\Practicas_I\Automation\Python-Flask-Web-Service\python-flask-web-service.tar
Automation\Python-Flask-Web-Service\python-flask-web-service.tar
python-flask-web-service.tar