node_modules
*.values.json
*.values.local.json
*.values.dev.json
*.env
test-result
test-results
test-results/*
test-result/*
test-result
test-results
*test-result
*test-result/*
.env
Automation/.docker_temp_963822643
Automation/Python-Flask-Web-Service.7z
Automation/python-flask-web-service.tar
Automation/Python-Flask-Web-Service/python-flask-web-service.tar